wwwroot/uploads/movimientos/*.jpg
wwwroot/uploads/movimientos/*.png
wwwroot/uploads/movimientos/*.webp
bin/
obj/
*.user
*.suo
.vs/
appsettings.Development.json
*.db
*.pfx
*.p12
*.cer
*.crt
*.key
*.ca-bundle
*.p7b
STAR.gcslatam.com_cert*/
STAR.gcslatam.com_key*/
.env